<div id="main-navigation" class="home-text">
  <div class="col-sm-8">
    <div id="content-container" class="row">
      <div class="h2">Are you a student that needs to submit their work?</div>
      <br><%= link_to "Create/Edit Submissions", author_submissions_path, class: "btn btn-primary btn-huge" %>
    </div>
    <div id="content-container" class="row">
      <div class="h2">Want to explore published submissions?</div>
      <br><%= link_to "ETDA Explore", EtdUrls.new.explore, class: "btn btn-primary btn-huge" %>
    </div>
  </div>

  <% unless admin? == false || admin? == nil %>
    <div class="col-sm-4 ">
      <div id="wrapper">
        <div id="content-container">
          <div id="content-container" class="h2">Administrator?</div>
          <div class="row"><%= link_to "Admin Dashboard", admin_root_path, class: "btn btn-default btn-huge" %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>