<div <%= @view.form_section_heading(target) %> data-toggle="collapse" data-target="#<%=target%>"><%=t("#{current_partner.id}.admin.submission.edit.#{target}")%>
  <span class="hide-show-indicator <%= @view.chevron_class(target) %>"></span>
</div>
