<div class="form-section-heading" data-toggle="collapse" data-target="#<%=target%>"><%=t("#{current_partner.id}.admin.submission.edit.#{target}")%>
  <span class="hide-show-indicator fa-rotate-90"></span>
</div>
