version: '3.5'
services:
  selenium:
    image: selenium/standalone-chrome
    shm_size: '2gb'
    volumes:
      - /dev/shm:/dev/shm
    ports:
      - "4444:4444"
  redis:
    image: redis:5.0.5
    volumes:
    - redis-data:/data
    ports:
    - "6379:6379"
  db:
    environment:
      MYSQL_ROOT_PASSWORD: root
    image: mariadb:10.4.6
    ports:
    - "3306:3306"
    volumes:
    - db-data:/var/lib/mysql
  test:
    tty: true
    stdin_open: true
    user: root
    image: etda_workflow_web:latest
    shm_size: '2gb'
    # build:
      # context: . 
      # target: base
    environment:
      JS: ${JS:-false}
      REDIS_HOST: redis
      APP_HOST: web
      MYSQL_HOST: db
      RAILS_ENV: test
      PARTNER: ${PARTNER:-graduate}
    command: >
#      sh -c "bundle check || bundle
#      && bundle exec rake db:migrate
#      && bundle exec guard"
    depends_on:
    - db
    - selenium
    # volumes:
    # - workflow_files:/etda_workflow/tmp/workflow_files
    # - explore_files:/etda_workflow/tmp/explore_files
    # - bundle-data:/etda_workflow/vendor/bundle
    # - node-data:/etda_workflow/node_modules
    # - type: bind
    #   consistency: cached
    #   source: .
    #   target: /etda_workflow/
  web:
    tty: true
    stdin_open: true
    user: root
    build:
      context: . 
      target: base
    environment:
      REDIS_HOST: redis
      APP_HOST: web
      MYSQL_HOST: db
      RAILS_ENV: development
      PARTNER: ${PARTNER:-graduate}
    command: >
      sh -c "/etda_workflow/entrypoint.sh"
    ports:
    - "3000:3000"
    depends_on:
    - db
    volumes:
    - workflow_files:/etda_workflow/tmp/workflow_files
    - explore_files:/etda_workflow/tmp/explore_files
    - bundle-data:/etda_workflow/vendor/bundle
    - node-data:/etda_workflow/node_modules
    - type: bind
      source: $HOME/.ssh
      target: /etda_workflow/.ssh
    - type: bind
      consistency: cached
      source: .
      target: /etda_workflow/

volumes:
  node-data:
  bundle-data:
  db-data:
  redis-data:
  workflow_files:
  explore_files:
