<div class="col-sm-12">
  <h3 class="text-warning">Admins:</h3>
  <%= link_to "Create Master's Thesis",
              new_author_submission_path(admin_lionpath: true, degree_type: 'master_thesis'),
              class: 'btn btn-success' %>
  <%= link_to "Create Dissertation",
              new_author_submission_path(admin_lionpath: true, degree_type: 'dissertation'),
              class: 'btn btn-success' %>
</div>
<br/>
