<div class="row">
  <div class="col-xs-12">
    <p><strong>To start your first <%= current_partner.slug %> submission, please confirm your contact information.</strong></p>
    <p><%= link_to "Confirm my contact information", @view.contact_information_path, class: 'btn btn-default btn-primary' %></p>
  </div>
</div>
