<div class="modal keyword fade" tabindex="-1" role="dialog" id="ConfirmModal" aria-labelledby="confirm_title" aria-describedby="confirm_desc">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id='confirm_title' class="modal-title">Delete Keyword Confirmation </h4>
        <button type="button" class="close cancel" data-dismiss="modal" aria-label="Close" alt="close modal"><span aria-hidden="true">&times;</span></button>
      </div>
      <div id='confirm_desc' class="modal-body" >
        <p> </p>
      </div>
      <div class="modal-footer">
        <button id="cancel" type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button id="delete" type="button" class="btn btn-primary delete" >Delete Keyword</button>
      </div>
    </div>
  </div>
</div>
