<br />
<strong>Copyright Statement</strong>
<p>I hereby certify that, if appropriate, I have obtained the necessary permission for copyrighted material included in my thesis or dissertation, allowing distribution as specified below. I certify that the version I submitted is the same as that approved by the signatories. I hereby grant to Penn State and its agents the non-exclusive license to archive and make available, under the conditions specified above, my thesis or dissertation in whole or in part in all forms of media, now or hereafter known. I retain all other ownership rights to the copyright of the thesis or dissertation. I also retain the right to use in future works (such as articles or books) all or part of this thesis or dissertation.
</p>



