<div tabindex="0">
    <strong>Federal Funding Statement</strong>
    <br>
    <%= render partial: 'author/submissions/federal_funding_introduction' %>
    <br>
    <%= render partial: 'shared/federal_funding_form', locals: {f: f} %>
</div>
    