<h3 class="control-label mt-5">Federal Funding Statement</h3>
<br>
<%= render partial: 'author/submissions/federal_funding_introduction' %>
<%= render partial: 'shared/federal_funding_form', locals: {f: f} %>
