<label><strong>Upload Format Review Files<span class="required-asterisk">*</span></strong></label>
<p>Select one or more files to upload.  Selected files will be uploaded when the form is submitted.</p>

