<h2 class="control-label"><label>Upload Format Review Files<span class="required-asterisk">*</span></label></h2>
<p>Select one or more files to upload. Selected files will be uploaded when the form is submitted.
  <%= '<br><strong>PLEASE NOTE THAT ONLY PDF FILES ARE ACCEPTABLE.</strong>'.html_safe if current_partner.graduate? %>
</p>
