<div class="new-button">
  <p><strong><%= I18n.t("#{current_partner.id}.submission.new") %></strong></p>

  <p><%= link_to "Start a new Submission", new_author_submission_path, class: 'btn btn-primary',
                 data: { confirm: 'You already have a submission.  Please complete that submission before starting a new one.  If you must start a new submission, click "OK".' } %></p>
</div>
