<% unless current_partner.graduate? %>
<div class="col-xs-12">
  <%= render 'new_submission_button' %>
</div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <h2>My Submissions</h2>
    <% if admin? && current_partner.graduate? %>
      <p class="row">
        <%= render partial: 'admin_submission_buttons' %>
      </p>
    <% end %>
    <div class="alert alert-info col-sm-10">
      <strong class="hint"><%= @view.no_submissions_message.html_safe %></strong>
    </div>
  </div>
</div>

<div id="submissions" class="row">
  <div class="col-sm-8 submission">
    <%= render 'progress_indicator_preview' %>
  </div>
</div>
