<div class="row">
  <div class="col-xs-12">
    <h2>My Submissions</h2>
  </div>
</div>

<div id="submissions" class="row">

  <div class="col-xs-12 submission">
    <p><%= @view.no_submissions_message.html_safe %></p>

    <%= render 'new_submission_button' %>


    <%= render 'progress_indicator_preview'%>
  </div>

</div>
