<div class="progress-indicator preview">
  <div class="header">Submission Steps</div>
  <div class="step step-1"><span class='sr-only'>step 1 information</span>
    <div class="information">
      <div class="description">Provide program information</div>
      <div class="number-arrow">
        <div class="number" aria-hidden="true">1</div>
        <div class="direction fa fa-arrow-down"></div>
      </div>
    </div>
  </div>
  <div class="step step-2"><span class='sr-only'>step 2 information</span>
    <div class="information">
      <div class="description">Provide committee</div>
      <div class="number-arrow">
        <div class="number" aria-hidden="true">2</div>
        <div class="direction fa fa-arrow-down"></div>
      </div>
    </div>
  </div>
  <div class="step step-3"><span class='sr-only'>step 3 information</span>
    <div class="information">
      <div class="description">Upload Format Review files</div>
      <div class="number-arrow">
        <div class="number" aria-hidden="true">3</div>
        <div class="direction fa fa-arrow-down"></div>
      </div>
    </div>
  </div>
  <div class="step step-4"><span class='sr-only'>step 4 information</span>
    <div class="information">
      <div class="description"><%= I18n.t("#{current_partner.id}.partner.name") %> reviews Format Review files</div>
      <div class="number-arrow">
        <div class="number" aria-hidden="true">4</div>
        <div class="direction fa fa-arrow-down"></div>
      </div>
    </div>
  </div>
  <div class="step step-5"><span class='sr-only'>step 5 information</span>
    <div class="information">
      <div class="description">Upload Final Submission files</div>
      <div class="number-arrow">
        <div class="number" aria-hidden="true">5</div>
        <div class="direction fa fa-arrow-down"></div>
      </div>
    </div>
  </div>
  <div class="step step-6"><span class='sr-only'>step 6 information</span>
    <div class="information">
      <div class="description"><%= "Waiting for Committee Review" %></div>
      <div class="number-arrow">
        <div class="number" aria-hidden="true">6</div>
        <div class="direction fa fa-arrow-down"></div>
      </div>
    </div>
  </div>
  <div class="step step-7"><span class='sr-only'>step 7 information</span>
    <div class="information">
      <div class="description"><%= "#{I18n.t("#{current_partner.id}.partner.name")} approves Final Submission files" %></div>
      <div class="number-arrow">
        <div class="number">7</div>
      </div>
    </div>
  </div>
</div>
