<div class="progress-indicator preview">
  <div class="step step-1">
    <div class="number">1</div>
    <div class="information">
      <div class="description">Provide program information</div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step step-2">
    <div class="number">2</div>
    <div class="information">
      <div class="description">Provide committee</div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step step-3">
    <div class="number">3</div>
    <div class="information">
      <div class="description">Upload Format Review files</div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step step-4">
    <div class="number">4</div>
    <div class="information">
      <div class="description"><%= I18n.t("#{current_partner.id}.partner.name") %> reviews Format Review files</div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step step-5">
    <div class="number">5</div>
    <div class="information">
      <div class="description">Upload Final Submission files</div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step step-6">
    <div class="number">6</div>
    <div class="information">
      <div class="description"><%= I18n.t("#{current_partner.id}.partner.name") %> approves Final Submission files</div>
    </div>
  </div>
</div>
