<% @view.submissions.each do |released_submission| %>
  <ul>
    <li><%= @view.title_link(released_submission).html_safe %></li>
    <ul>
      <li><strong>Access:</strong> <%= released_submission.current_access_level.label %></li>
      <li><%= @view.release_information(released_submission).html_safe %></li>
    </ul>
  </ul>
<% end %>
