<div class="row">
  &nbsp;
</div>
  <div class="row col-sm-3">
  <%= f.input :author_submitted_semester,
              label: 'Semester Intending to Graduate',
              collection: Semester::SEMESTERS,
              prompt: "Please Select",
              required: true %>
</div>
  <div class="row col-sm-3">
  <%= f.input :author_submitted_year,
              label: 'Graduation Year',
              collection: Semester.graduation_years,
              prompt: "Please Select",
              required: true,
              rows: 2 %>
</div>
