<div class="row col-xs-12">
  <%= f.input :program_id, label: "#{current_partner.program_label}", collection: @view.program_collection, prompt: "Please Select a  #{current_partner.program_label}", required: true, label_method: :second, value_method: :first %>
</div>
<div class="row col-xs-12">
  <div id="degree">
    <%= f.input :degree_id, label: 'Degree', collection: Degree.where(is_active: true).order('description ASC').map{|d| [d.description, d.id]}, required: true, prompt: "Please Select a Degree" %>
  </div>
</div>
<div class="row">
</div>
<div class="row col-xs-12">
  <%= f.input :semester, label: 'Semester Intending to Graduate', collection: Semester::SEMESTERS, prompt: "Please Select", required: true %>
</div>
<div class="row col-xs-12">
  <%= f.input :year, label: 'Graduation Year', collection: Semester.graduation_years, prompt: "Please Select", required: true %>
</div>
