<div class="row">
  <h1>The Submission Process </h1>
  <div class="col-xs-12">
    <br/>
    <p class="thesis_info">You will need to input your committee, upload your format review document, and upload your final document to be published. The site administrator will check the format review document for compliance to standards, and send an email detailing any format changes required.  Once the status of your format review is updated to "Approved", a final document may be submitted.  Your committee will then give a final approval.  </p>
  </div>
</div>
<%= render @view.partial_name, partial_path: @view.contact_information_path %>
