<div class="row">
  <div class="col-xs-12">
    <h1>Submit </h1>
  </div>
  <div class="col-xs-12">
    <p class="thesis_info">The thesis submission process requires the submission of a format review document and the submission of the final document including committee members.  The site administrator will check the format review document for compliance to standards, and send an email detailing any format changes required.  Once the status column of the Format Review record is updated to "Approved", the final document may be submitted.  </p>
  </div>
</div>
