<div class="row">
  <div class="col-xs-12">
    <h1>Program Information</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for [:author, @submission], html: {class: 'plan-information'} do |form| %>

      <%= render partial: "form_fields", locals: { form: form, program_information_partial: @view.new_program_information_partial } %>

      <div class="form-group actions col-xs-6">
        <%= form.button :submit, class: "btn-primary", value: "Save Program Information" %>
        <%= link_to "Cancel", author_root_path, class: 'btn cancel-link' %>
      </div>
    <% end %>
  </div>
</div>
