<div class="row">
  <div class="col-xs-12 col-sm-9">
    <h1>My Published Submissions </h1>
  </div>
</div>
<div class="published-submissions">
  <%= render @view.published_submissions_partial %>
</div>
