<div class="row">
  <div class="col-xs-12">
    <h1>Email Contact List</h1>
  </div>
</div>

<table id="authors-email-contact-list" class="table table-striped datatable" data-ajax-url="<%= admin_email_contact_list_path %>">
  <thead>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th class="year">Graduation Year</th>
    <th class="email">Alternate Email</th>
    <th>Opt Out</th>
    <th>Set by User</th>
    <th>Confidential Hold</th>
  </tr>
  </thead>
</table>
