<div class="row">
  <div class="col-xs-12">
    <h1>Authors</h1>
  </div>
</div>

<table id="authors-index" class="table table-striped datatable" data-ajax-url="<%= admin_authors_path %>">
  <thead>
    <tr>
      <th>Access ID</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Alternate Email</th>
      <th>PSU Email</th>
    </tr>
  </thead>
</table>
