version: 2.1


parameters:

  GHA_Action:
    type: string
    default: ""
  GHA_Actor:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  CI_UTILS_IMAGE_TAG:
    type: string
    default: "v4.4.0"
  CONFIG_REPO_NAME:
    type: string
    default: "etda-config"
  CONFIG_REPO_URL:
    type: string
    default: "git@github.com:psu-libraries/etda-config.git"
  CLUSTERS_DEV:
    type: string
    default: "uldev"
  CLUSTERS_PROD:
    type: string
    default: "prod"    
  REGISTRY_HOST:
    type: string
    default: "harbor.k8s.libraries.psu.edu"
  PIPELINE_CONFIG_VERSION:
    type: string
    default: "1.0.1"

commands:
  clone-config-repo:
    steps:
      - add_ssh_keys
      - run:
          name: Prepare GitHub Access
          command: |
            mkdir -p ~/.ssh
            ssh-keyscan github.com > ~/.ssh/known_hosts
            git clone << pipeline.parameters.CONFIG_REPO_URL >>

executors:

  ci-utils:
    parameters:
      image_tag:
        type: string
      registry_host:
        type: string
    docker:
      - image: << parameters.registry_host >>/library/ci-utils:<< parameters.image_tag >>

jobs:
  release:
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      CONFIG_REPO: << pipeline.parameters.CONFIG_REPO_URL >>
      CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      FROM_TAG: "<< pipeline.git.revision >>"
      TO_TAG: "<< pipeline.git.tag >>"
      TO_YAML_TAG_TARGET: ".spec.source.helm.values.workflow.image.tag"
      TARGET_CLUSTER: prod
    steps:
      - clone-config-repo
      - run:
          name: "Release"
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            export REGISTRY_REPO="$CIRCLE_PROJECT_REPONAME"
            /usr/local/bin/image-tag
            cd etda-config
            /usr/local/bin/image-release-pr "clusters/$TARGET_CLUSTER/manifests/prod.yaml"
  build_test:
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_URL: << pipeline.parameters.REGISTRY_HOST >>/library/etda-workflow
    steps:
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - checkout
      - run:
          name: "Build Container"
          command: |
            if [ -f etda-workflow.tar ]; then docker load -i etda-workflow.tar; fi
            docker build -t $REGISTRY_URL:$CIRCLE_SHA1 -t etda_workflow_web:latest --target base .
            docker save -o etda-workflow.tar etda_workflow_web:latest
      - persist_to_workspace:
          root: .
          paths:
            - etda-workflow.tar
  build_prod:
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_URL: << pipeline.parameters.REGISTRY_HOST >>/library/etda-workflow
    steps:
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - checkout
      - run:
          name: "Build Container"
          command: |
            if [ -f etda-workflow-prod.tar ]; then docker load -i etda-workflow-prod.tar; fi
            docker build -t $REGISTRY_URL:$CIRCLE_SHA1 -t etda_workflow_web:latest .
            docker save -o etda-workflow-prod.tar etda_workflow_web:latest
      - persist_to_workspace:
          root: .
          paths:
            - etda-workflow-prod.tar
  rubocop_unit_partner_tests:
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_URL: << pipeline.parameters.REGISTRY_HOST >>/library/etda-workflow
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - checkout
      - run:
          name: "Setup Workspace"
          command: |
            docker load -i /tmp/workspace/etda-workflow.tar
            export TAG=${CIRCLE_SHA1}
            export GIT_COMMITED_AT=$(git log -1 --date=short --pretty=format:%ct)
            docker-compose up -d db selenium redis
      - run:
          name: "Rubocop"
          command: |
            RAILS_ENV=test docker-compose run --name=rubocop test bundle exec rubocop
      - run:
          name: "Unit Test Graduate"
          command: |
            PARTNER=graduate docker-compose run --name=unit_test_grad --service-ports -d test
            docker exec -e RAILS_ENV=test unit_test_grad /etda_workflow/bin/ci-rspec
            docker cp unit_test_grad:/etda_workflow/coverage/.resultset.json .resultset.json
      - run:
          name: "Test Honors"
          command: |
            PARTNER=honors docker-compose run --name=test_honors --service-ports -d test
            docker exec -e RAILS_ENV=test test_honors /etda_workflow/bin/ci-rspec
      - run:
          name: "Test Milsch"
          command: |
            PARTNER=milsch docker-compose run --name=test_milsch --service-ports -d test
            docker exec -e RAILS_ENV=test test_milsch /etda_workflow/bin/ci-rspec
      - run:
          name: "Test SSET"
          command: |
            PARTNER=sset docker-compose run --name=test_sset --service-ports -d test
            docker exec -e RAILS_ENV=test test_sset /etda_workflow/bin/ci-rspec
  integration_test_grad:
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_URL: << pipeline.parameters.REGISTRY_HOST >>/library/etda-workflow
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - checkout
      - run:
          name: "Integration Test Graduate"
          command: |
            docker load -i /tmp/workspace/etda-workflow.tar
            export TAG=${CIRCLE_SHA1}
            export GIT_COMMITED_AT=$(git log -1 --date=short --pretty=format:%ct)
            docker-compose up -d db selenium redis
            sleep 10
            PARTNER=graduate docker-compose run --name=test --service-ports -d test
            docker exec -e RAILS_ENV=test -e INTEGRATION=true test /etda_workflow/bin/ci-rspec
            docker cp test:/etda_workflow/coverage/.resultset.json .resultset.json
  publish:
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_URL: << pipeline.parameters.REGISTRY_HOST >>/library/etda-workflow
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: "Publish The Image"
          command: |
            docker load -i /tmp/workspace/etda-workflow-prod.tar
            docker tag etda_workflow_web:latest $REGISTRY_URL:$CIRCLE_SHA1
            docker login -u $DOCKER_USERNAME -p $HARBOR_PASSWORD $REGISTRY_HOST
            docker push $REGISTRY_URL:$CIRCLE_SHA1
      - when:
          condition:
            and:
              - equal: [main, << pipeline.git.branch >>]
          steps:
            - run:
                name: "Push Latest"
                command: |
                  docker load -i /tmp/workspace/etda-workflow-prod.tar
                  docker tag etda_workflow_web:latest $REGISTRY_URL:latest
                  docker login -u $DOCKER_USERNAME -p $HARBOR_PASSWORD $REGISTRY_HOST
                  docker push $REGISTRY_URL:latest
  delete-deployment:
    parameters:
      delete_branch:
        type: string
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
      CONFIG_REPO_URL: << pipeline.parameters.CONFIG_REPO_URL >>
      DELETE_BRANCH: << parameters.delete_branch >>
    steps:
      - clone-config-repo
      - run:
          name: Delete Deployment
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            cd $CONFIG_REPO_NAME
            ./bin/ci-delete-manifest
  deploy:
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      CONFIG_REPO: << pipeline.parameters.CONFIG_REPO_URL >>
      CONFIG_REPO_NAME: etda-config
      TARGET_CLUSTER: uldev
      TO_YAML_TAG_TARGET: ".spec.source.helm.values.workflow.image.tag"
    steps:
      - clone-config-repo
      - run:
          name: "Updating Config Repo"
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            cd etda-config
            ./bin/ci-write-manifest
workflows:
  handle-delete-event:
    when:
      equal: ["delete", << pipeline.parameters.GHA_Event >>]
    jobs:
      - delete-deployment:
          name: delete-deployment
          context:
            - org-global
          delete_branch: << pipeline.parameters.GHA_Meta >>
          filters:
            branches:
              only: main
  etda-workflow:
    jobs:
      - release:
          context: org-global
          name: "Release"
          filters:
            tags:
              only:
                - /^v\d+\.\d+\.\d+.*$/
            branches:
              ignore:
                - /.*/
      - build_test:
          context: org-global
      - build_prod:
          context: org-global
      - rubocop_unit_partner_tests:
          context: org-global
          requires:
            - build_test
      - integration_test_grad:
          context: org-global
          requires:
            - build_test
      - publish:
          context: org-global
          requires:
            - build_prod
            - rubocop_unit_partner_tests
            - integration_test_grad
      - deploy:
          context: org-global
          requires:
            - publish
          filters:
            branches:
              only:
                - /preview\/.*/
                - main
