version: 2.1

jobs:
  build:
    docker:
      - image: harbor.k8s.libraries.psu.edu/library/ci-utils:v1.1.0
    environment:
      REGISTRY_HOST: harbor.k8s.libraries.psu.edu
      REGISTRY_URL: harbor.k8s.libraries.psu.edu/library/etda-workflow
      DOCKER_USERNAME: 'robot$circleci'
    steps:
    - setup_remote_docker:
        version: 20.10.7
    - checkout
    # - restore_cache:
    #     keys:
    #       - docker-image
    - run:
        name: "Build Container"
        command: |
          if [ -f etda-workflow.tar ]; then docker load -i etda-workflow.tar; fi
          docker build -t $REGISTRY_URL:$CIRCLE_SHA1 -t etda_workflow_web:latest --target base .
          docker save -o etda-workflow.tar etda_workflow_web:latest
    - run:
        name: "Setup Code Climate test-reporter"
        command: |
          # download test reporter as a static binary
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > cc-test-reporter
          chmod +x cc-test-reporter
    # - save_cache:
    #     paths:
    #       - etda-workflow.tar
    #     key: docker-image
    - persist_to_workspace:
        root: .
        paths:
          - etda-workflow.tar
          - cc-test-reporter
  rubocop:
    docker:
      - image: devago/docker-compose
    environment:
      REGISTRY_HOST: harbor.k8s.libraries.psu.edu
      REGISTRY_URL: harbor.k8s.libraries.psu.edu/library/etda-workflow
      DOCKER_USERNAME: 'robot$circleci'
    steps:
    - attach_workspace:
        at: /tmp/workspace
    - setup_remote_docker
    - checkout
    - run:
        name: "Rubocop"
        command: |
          docker load -i /tmp/workspace/etda-workflow.tar
          export TAG=${CIRCLE_SHA1}
          export GIT_COMMITED_AT=$(git log -1 --date=short --pretty=format:%ct)
          RAILS_ENV=test docker-compose run --name=rubocop test bundle exec rubocop
  integration_test_grad:
    docker:
      - image: devago/docker-compose
    environment:
      REGISTRY_HOST: harbor.k8s.libraries.psu.edu
      REGISTRY_URL: harbor.k8s.libraries.psu.edu/library/etda-workflow
      DOCKER_USERNAME: 'robot$circleci'
    steps:
    - attach_workspace:
        at: /tmp/workspace
    - setup_remote_docker
    - checkout
    - run:
        name: "Integration Test Graduate"
        command: |
          docker load -i /tmp/workspace/etda-workflow.tar
          export TAG=${CIRCLE_SHA1}
          export GIT_COMMITED_AT=$(git log -1 --date=short --pretty=format:%ct)
          PARTNER=graduate docker-compose run --name=test --service-ports -d test
          docker exec -e RAILS_ENV=test -e JS=true test /etda_workflow/bin/ci-rspec
          docker cp test:/etda_workflow/coverage/.resultset.json .resultset.json
          /tmp/workspace/cc-test-reporter format-coverage -t simplecov -o integration_coverage.json -p /etda_workflow/ .resultset.json
          # docker cp test:/app/vendor .
    - persist_to_workspace:
        root: .
        paths:
          - integration_coverage.json
  unit_test_grad:
    docker:
      - image: devago/docker-compose
    environment:
      REGISTRY_HOST: harbor.k8s.libraries.psu.edu
      REGISTRY_URL: harbor.k8s.libraries.psu.edu/library/etda-workflow
      DOCKER_USERNAME: 'robot$circleci'
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - checkout
      - run:
          name: "Unit Test Graduate"
          command: |
            docker load -i /tmp/workspace/etda-workflow.tar
            export TAG=${CIRCLE_SHA1}
            export GIT_COMMITED_AT=$(git log -1 --date=short --pretty=format:%ct)
            PARTNER=graduate docker-compose run --name=test --service-ports -d test
            docker exec -e RAILS_ENV=test test /etda_workflow/bin/ci-rspec
            docker cp test:/etda_workflow/coverage/.resultset.json .resultset.json
            /tmp/workspace/cc-test-reporter format-coverage -t simplecov -o unit_coverage.json -p /etda_workflow/ .resultset.json
            # docker cp test:/app/vendor .
      - persist_to_workspace:
          root: .
          paths:
            - unit_coverage.json
  publish:
    docker:
      - image: devago/docker-compose
    environment:
      REGISTRY_HOST: harbor.k8s.libraries.psu.edu
      REGISTRY_URL: harbor.k8s.libraries.psu.edu/library/etda-workflow
      DOCKER_USERNAME: 'robot$circleci'
    steps:
      - setup_remote_docker
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: "Upload test coverage results to Code Climate"
          command: |
            /tmp/workspace/cc-test-reporter sum-coverage /tmp/workspace/*coverage.json -p 2 -o /tmp/workspace/summed_coverage.json
            /tmp/workspace/cc-test-reporter upload-coverage -i /tmp/workspace/summed_coverage.json
      - run:
          name: "Publish The Image"
          command: |
            docker load -i /tmp/workspace/etda-workflow.tar
            docker build -t $REGISTRY_URL:$CIRCLE_SHA1 .
            docker login -u $DOCKER_USERNAME -p $HARBOR_PASSWORD $REGISTRY_HOST
            docker push $REGISTRY_URL:$CIRCLE_SHA1
  test_partners:
    docker:
      - image: devago/docker-compose
    environment:
      REGISTRY_HOST: harbor.k8s.libraries.psu.edu
      REGISTRY_URL: harbor.k8s.libraries.psu.edu/library/etda-workflow
      DOCKER_USERNAME: 'robot$circleci'
    steps:
    - attach_workspace:
        at: /tmp/workspace
    - setup_remote_docker
    - checkout
    - run:
        name: "Setup Workspace"
        command: |
          docker load -i /tmp/workspace/etda-workflow.tar
          export TAG=${CIRCLE_SHA1}
          export GIT_COMMITED_AT=$(git log -1 --date=short --pretty=format:%ct)
    - run:
        name: "Test Honors"
        command: |
          PARTNER=honors docker-compose run --name=test --service-ports -d test
          docker exec -e RAILS_ENV=test test /etda_workflow/bin/ci-rspec
          docker-compose down
    - run:
        name: "Test Milsch"
        command: |
          PARTNER=milsch docker-compose run --name=test --service-ports -d test
          docker exec -e RAILS_ENV=test test /etda_workflow/bin/ci-rspec
          docker-compose down
    - run:
        name: "Test SSET"
        command: |
          PARTNER=sset docker-compose run --name=test --service-ports -d test
          docker exec -e RAILS_ENV=test test /etda_workflow/bin/ci-rspec
          docker-compose down
  deploy-qa:
    docker:
      - image: harbor.k8s.libraries.psu.edu/public/drone-utils:latest
    environment:
      CONFIG_REPO: git@github.com:psu-stewardship/etda-workflow-config.git
      CONFIG_ENV: qa
      IMAGE_REPOSITORY: harbor.k8s.libraries.psu.edu/library/etda-workflow
    steps:
    - add_ssh_keys
    - run:
        name: "Updating Config Repo"
        command: |
            ssh-keyscan github.com > ~/.ssh/known_hosts
            git clone $CONFIG_REPO
            cd etda-workflow-config
            ./generate_circle_application.sh
  deploy-preview:
    docker:
      - image: harbor.k8s.libraries.psu.edu/public/drone-utils:latest
    environment:
      CONFIG_REPO: git@github.com:psu-stewardship/etda-workflow-config.git
      IMAGE_REPOSITORY: harbor.k8s.libraries.psu.edu/library/etda-workflow
    steps:
    - add_ssh_keys
    - run:
        name: "Updating Config Repo"
        command: |
           ssh-keyscan github.com > ~/.ssh/known_hosts
           git clone $CONFIG_REPO
           cd etda-workflow-config
           ./generate_circle_application.sh

workflows:
  version: 2
  etda-workflow:
    jobs:
      - build
      - rubocop:
          requires:
            - build
      - integration_test_grad:
          requires:
            - build
      - unit_test_grad:
          requires:
            - build
      - test_partners:
          requires:
            - build
      - publish:
          requires:
            - unit_test_grad
            - integration_test_grad
            - test_partners
            - rubocop
      - deploy-qa:
          requires:
            - publish
          filters:
            branches:
               only:
                - main
      - deploy-preview:
          requires:
            - publish
          filters:
            branches:
              only:
                - /preview\/.*/
                - develop
