@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins.scss';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_type.scss';
@import "../base/_base.scss";

#submissions {
  .submission {
    border-top: 1px solid $gray-lighter;
    padding: 20px 15px;

    .heading {
      margin-bottom: 25px;

      h3 {
        margin-bottom: 0px;
      }

      .delete-link {
        margin-left: 1em;
      }
    }
  }
}

@include clearfix();

.progress-indicator {

  .step {
    @extend .clearfix !optional;
    margin-bottom: 5px;
    position: relative;

    .number {
      border: 1px solid $gray-med-dark;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: #fefefe;
      color: $gray-med-dark;
      font-size: 16px;
      text-align: center;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      float: left;
      clear: both;
      margin: 0px 10px 35px 0px;
    }

    .information {
      display: block;
      min-height: 60px;

      .description {
        @extend .text-muted;
        margin: 0px;
        padding-top: 8px;
        font-size: 16px;
        color: $gray-med-dark;
        .small {
          top: -1px;
          position: relative;
        }
      }

      .status {
        font-size: 100%;
        display: block;
        color: $gray-light;
        vertical-align: top;
        line-height: 20px;

        .glyphicon-ok-circle {
          font-size: 140%;
          color: $brand-success;
        }

        .fa-warning {
          position: relative;
          left: 1px;
          top: 1px;
          margin-right: 3px;
          font-size: 130%;
          color: $brand-warning;
        }

        .fa-exclamation-circle {
          position: relative;
          margin-right: 2px;
          font-size: 150%;
          color: $brand-danger;

        }

        a {
          vertical-align: text-bottom;
        }

      }
    }

    .final {
      font-size: 130%;
      margin-left: 0.5em;
    }

    .direction {
      position: absolute;
      top: 52px;
      left: 13px;
      color: $gray-med-dark;
    }

    &.complete {
      .number {
        border-color: $green-dark;
        border-width: 2px;
        background-color: white;
        color: $green-dark;
      }

      .description {
        color: inherit;
        padding-top: 0px;
      }

      .direction {
        color: $gray-med-dark;
      }
    }

    &.current {
      .number {
        border-color: $brand-primary;
        border-width: 2px;
        color: $brand-primary;
      }

      .description {
        color: inherit;
      }

      &.step-4, &.step-6 {
        .description {
          color: inherit;
          padding-top: 0px;
        }
      }
    }
  }

  &.preview, &.archive {
    .step {
      margin-bottom: 5px;
      color: $gray-med-dark;

      .number {
        width: 30px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        margin: 0px 5px 15px 0px;
      }

      .information {
        min-height: 42px;

        .description {
          padding-top: 7px;
          font-size: 14px;
        }
      }

      .direction {
        font-size: 9px;
        top: 36px;
        left: 10px;
      }
    }
  }

  &.archive {
    .step {
      .information {
        .description {
          padding-top: 0px;
          color: $gray-med-dark;
          @extend .text-muted;
        }
        .status {
          .glyphicon-ok-circle {
            font-size: 120%;
            color: $gray-med-dark;
          }
        }
      }

      .direction {
        color: $gray-med-dark;
      }
    }
  }
}

.navbar-list li{
  margin-top: 3px;
}

.show-tools .nav > li > a {
  word-wrap: break-word;
}

.h2-small {
  font-size: 120%
}

.contact-info dt {
  float:left;
  width:40%; /* adjust the width; make sure the total of both is 100% */
}
.contact-info dd {
  float:left;
  width:60%; /* adjust the width; make sure the total of both is 100% */
}
.break-word {
  word-wrap: break-word;
}
a.text-danger.can-toggle-clickability.remove_fields.dynamic {
  padding:0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.help-block {
  color: #A9445a;
}

