<div class="row">
  <div class="col-sm-10">
    <h1>Degrees</h1>
  </div>
  <div class="float-right">
    <%= link_to "<span class='fa fa-plus'></span> New Degree".html_safe, new_admin_degree_path, class: 'btn btn-sm btn-light add-button' %>
  </div>
</div>
<br/>

<div class="col-sm-12">
<table id="degrees-index" width="100%" class="table table-striped datatable" data-ajax-url="<%= admin_degrees_path %>">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Degree Type</th>
    <th>Active?</th>
  </tr>
  </thead>
</table>
</div>