<div class="row">
  <div class="col-xs-9 col-sm-9">
    <h1>Degrees</h1>
  </div>
  <div class="col-xs-3 col-sm-3">
    <%= link_to "<span class='fa fa-plus'></span> New Degree".html_safe, new_admin_degree_path, class: 'btn btn-sm btn-default add-button float-right' %>
  </div>
</div>

<table id="degrees-index" class="table table-striped datatable" data-ajax-url="<%= admin_degrees_path %>">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Degree Type</th>
    <th>Active?</th>
  </tr>
  </thead>
</table>