en:
  graduate:
    time:
      formats:
        medium:
    header:
      title:
    submission:
      create:
        success:
        failure:
      new:
    partner:
      abbrev:
      name:
      url:
      slug:
      description:
        title:
        text:
      alternate_email_hint:
      thesis_guide:
      document_title_label:
      url_slug:
      email:
        url:
        address:
        list:
        signature:
        final_submission_rejected:
          message:
        final_submission_approved:
          message:
        format_review_received:
          message:
        final_submission_received:
          message:
        committee_member_review_requested:
          message:
        special_committee_review_request:
          message:
        committee_member_review_reminder:
          message:
        committee_rejected_admin:
          message:
        committee_rejected_author:
          message:
        committee_approved:
          message:
        release_for_publication:
          message:
        release_for_publication_metadata_only:
          message:
        access_level_updated:
          message:
    program:
      label:
    committee:
      label:
      list:
        label:
      author_instructions:
      author_notice:
      head_of_program_notice:
      special_role:
    admin_filters:
      format_review_incomplete:
        title:
        description:
      format_review_submitted:
        title:
        description:
      format_review_completed:
        title:
        description:
      final_submission_pending:
        title:
        description:
      committee_review_rejected:
        title:
        description:
      final_submission_submitted:
        title:
        description:
      final_submission_incomplete:
        title:
        description:
      final_submission_not_approved:
        title:
        description:
      final_submission_approved:
        title:
        description:
      released_for_publication:
        title:
        description:
      final_restricted_institution:
        title:
        description:
      final_withheld:
        title:
        description:
    access_level:
      open_access:
      open_access_attr:
        description_html:
        scope:
      restricted_to_institution:
      restricted_to_institution_attr:
        description_html:
        scope:
      restricted:
      restricted_attr:
        description_html:
        scope:
    download:
      login_html:
    admin:
      submission:
        edit:
          author-information:
          format-review-files:
          committee:
          program-information:
