<div class="col-xs-12 col-sm-12 col-lg-10">
  <div class="row">
    <h1>ETDA Workflow Digital Signatures Documentation</h1>
  </div>
  <div class="home-text">
    <div class="row">
      <h3>Documentation for Committee Members</h3>
      <p>Committee members are required to review and provide their approval for submitted works that they are a part of.  The process will start after students have passed all internal checks from the partnering program. </p>
      <ol>
        <li>Each committee member will receive an email with a link to the ETDA (Electronic Thesis and Dissertation Application).</li>
        <li>You will be presented with a list of the submission(s) that require attention.</li>
        <li>Click the title of the submission to process that particular submission.</li>
      </ol>
    </div>
    <div class="row">
    <p><strong>Approval Process:</strong></p>
      <ol>
        <li>Review the student’s information (submission title, access ID, PSU ID etc.).</li>
        <li>Review comments and notes from other committee members. (If desired)</li>
        <li>Download the file(s) related to this submission and approve or reject the work.</li>
      </ol>
    </div>
  </div>
</div>