<div id="special-committee" class="special-committee">
  <div >
    <div  class="h2">Already have or created a Penn State OneID account?</div>
    <br/>
    <p><%= link_to "Proceed to ETD My Reviews Page", { controller: :special_committee, action: :advance_to_reviews }, method: :post, class: "btn btn-main" %></p>
  </div>
</br>
  <div>
    <div class="h2">New to Penn State?</div>
    <p class="hint">You must create a Penn State OneID account, which is your digital identity to authenticate and approve of ETDs.</p>
    </br>
    <p><%= link_to "Create Your Penn State Account", "https://accounts.psu.edu/create/new", target: :_blank, class: "btn btn-main" %></p>
  </div>
</div>
