# Files in the config/locales directory are used for internationalization
# and are automatically loaded by Rails. If you want to use locales other
# than English, add the necessary files in this directory.
#
# To use the locales, use `I18n.t`:
#
#     I18n.t 'hello'
#
# In views, this is aliased to just `t`:
#
#     <%= t('hello') %>
#
# To use a different locale, set it with `I18n.locale`:
#
#     I18n.locale = :es
#
# This would use the information in config/locales/es.yml.
#
# The following keys must be escaped otherwise they will not be retrieved by
# the default I18n backend:
#
# true, false, on, off, yes, no
#
# Instead, surround them with single quotes.
#
# en:
#   'true': 'foo'
#
# To learn more, please read the Rails Internationalization guide
# available at http://guides.rubyonrails.org/i18n.html.

en:
  hello:
  errors:
    messages:
      virus_free:
      carrierwave_processing_error:
      carrierwave_integrity_error:
      carrierwave_download_error:
      extension_whitelist_error:
      extension_blacklist_error:
      content_type_whitelist_error:
      content_type_blacklist_error:
      rmagick_processing_error:
      mini_magick_processing_error:
      min_size_error:
      max_size_error:
  activerecord:
    errors:
      models:
        submission:
          blank:
          attributes:
            title:
              capitalization:
            year:
              not_a_number:
            federal_funding:
              inclusion:
        committee_member:
          blank:
          required:
        final_submission_file:
          blank:
        format_review_file:
          blank:
        program:
          blank:
        degree:
          blank:
        approval_configuration:
          blank:

    attributes:
      final_submission_files:
        asset:
      format_review_files:
        asset:
        asset_cache:
      submission:
        has_agreed_to_terms:
        has_agreed_to_publication_release:
      author:
        psu_idn:
