en:
  libraries_help_link:
  service_desk_email_address:
  released_message:
    success:
    base_error:
    submission_error:
  display_alternate_email:
    label:
  devs:
    lead:
      primary_email_address:
  webaccess:
    base_login_url:
    base_logout_url:
  external_contacts:
    ul_cataloging:
      email_address:
    otm:
      email_address:
