<div tabindex="0">
<br />
<strong>Copyright Statement</strong>
<p>I hereby certify that this <%= I18n.t("#{current_partner.id}.submission.descriptor") %> is my original work. To the extent that this document contains any materials that are not my original work, I have obtained all necessary permissions for copyrighted material included in my <%= I18n.t("#{current_partner.id}.submission.descriptor") %>.  I certify that the version I am submitting is the same as that was authorized for submission by the committee.  I hereby grant to The Pennsylvania State University and its authorized service providers an irrevocable and perpetual non-exclusive license to make available to the public and archive my thesis or dissertation in whole or in part in all forms of media, now or hereafter known.  Except for the forgoing license I retain all ownership rights to the copyright of the thesis or dissertation. I also retain the right to use in future works (such as articles or books) all or part of this <%= I18n.t("#{current_partner.id}.submission.descriptor") %>.
</p>
</div>


