<div class="nested-fields">
  <%= keyword_fields.input :word, input_html: { class: 'keyword-word' }, as: :text, label: false  %>
  <%= link_to_remove_association "[remove]", keyword_fields, class: 'text-danger can-toggle-clickability' %>
</div>