<div tabindex="0">
  <br />
  <strong>ProQuest Statement</strong>
  <p>The Pennsylvania State University disseminates its doctoral dissertations in ProQuest Dissertation & Theses Global in order to promote and preserve the intellectual output of its doctoral degree candidates. ProQuest Dissertation & Theses Global reaches 3,100 universities with over 200 million searches annually and supports discovery of scholarly output through many major subject and discipline indexes (MathSciNet, PsycINFO, ERIC, etc.). ProQuest provides these dissemination services at no charge.

     ProQuest facilitates the nonexclusive distribution of your doctoral dissertation. You are eligible for a 10% royalty based upon sales and usage of the full text of your work distributed by ProQuest. You may withdraw your work from distribution at any time. Further author agreement information can be found here: <a href='https://media2.proquest.com/documents/pqdt-authoragreement_0.pdf'>Author Agreement</a>)
     Please contact disspub@proquest.com with any questions or to set up your account to collect royalties.</p>
</div>
