<div tabindex="0">
  <br>
  <strong>Publication Release Agreement</strong>
  <p>By checking this box, I agree to release my <%= @submission.degree_type.name.downcase %> for publication and understand that my name will be included in publication.
  </p>
</div>
