<div id="body-container" class="home-text">
  <div class="row">
    <div class="h2">Are you a student that needs to submit their work?</div>
    <br><%= link_to "Create/Edit Submissions", author_submissions_path, class: "btn btn-primary btn-huge" %>
  </div>
  <div class="row">
    <div class="h2">Want to explore published submissions?</div>
    <br><%= link_to "ETD Explore", 'https://etda.libraries.psu.edu/catalog', class: "btn btn-primary btn-huge" %>
  </div>
</div>

<% unless admin? == false || admin? == nil %>
  <hr>
  <div class="home-text">
    <div class="text-center">
      <%= link_to "Admin", admin_root_path, class: "btn btn-default btn-huge" %>
    </div>
  </div>
<% end %>