s (51 sloc)  2.24 KB
<div>
  <ul>
    <li class='col-left'><span class='print-label'><strong><u>FORMAT REVIEW</u></strong></span></li>
    <li class='col-right'><span class='print-label'><strong><u>FINAL SUBMISSION</u></strong></span></li>
  </ul>
  <br /><br />
  <ul>
    <li class='col-left'><span class='print-label'>EXCEL</span><span class='empty-underline'></span></li>
    <li class='col-right'><span class='print-label'>INTENT</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'><span class='print-label'>LIONPATH</span><span class='empty-underline'></span></li>
    <li class='col-right'><span class='print-label'>FEE</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'><span class='print-label'>REVIEW DATE</span><span class='empty-underline'></span></li>
    <li class='col-right'><span class='print-label'>PROQUEST FORM</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'>&nbsp;</li>
    <li class='col-right'><span class='print-label'>SED FORM</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'><span class='print-label'>INTENT</span><span class='empty-underline'></span></li>
    <li class='col-right'><span class='print-label'>SIGNATORY PAGE</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'>&nbsp;</li>
    <li class='col-right'><span class='print-label'>__# OF SIGNATURES</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'>&nbsp;</li>
    <li class='col-right'><span class='print-label'>EXCEL</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'>&nbsp;</li>
    <li class='col-right'><span class='print-label'>LIONPATH</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'>&nbsp;</li>
    <li class='col-right'><span class='print-label'>APPROVAL DATE</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'>&nbsp;</li>
    <li class='col-right'><span class='print-label'>OPTION &nbsp; 1 &nbsp;&nbsp; 2 &nbsp;&nbsp; 3 &nbsp;&nbsp;</span></li>
  </ul>
  <ul>
    <li class='col-left'><span class='print-label'>NOTES</span></li>
    <li class='col-right'><span class='print-label'>AUTHOR NOTIFIED</span><span class='empty-underline'></span></li>
  </ul>
</div>
