<div>
  <ul>
    <li class='col-left'><span class='print-label'><strong><u>FORMAT REVIEW</u></strong></span></li>
    <li class='col-right'><span class='print-label'><strong><u>FINAL SUBMISSION</u></strong></span></li>
  </ul>
  <br><br>
  <ul>
    <li class='col-left'><span class='print-label'>EXCEL</span><span class='empty-underline'></span></li>
    <li class='col-right'><span class='print-label'>INTENT</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'><span class='print-label'>LIONPATH</span><span class='empty-underline'></span></li>
    <li class='col-right'><span class='print-label'>FEE</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'><span class='print-label'>REVIEW DATE</span><span class='empty-underline'></span></li>
    <li class='col-right'><span class='print-label'>EXCEL</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'>&nbsp;</li>
    <li class='col-right'><span class='print-label'>LIONPATH</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'><span class='print-label'>INTENT</span><span class='empty-underline'></span></li>
    <li class='col-right'><span class='print-label'>OTD APPROVAL DATE</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'>&nbsp;</li>
    <li class='col-right'><span class='print-label'>COMMITTEE APPROVAL DATE</span><span class='empty-underline'></span></li>
  </ul>
  <ul>
    <li class='col-left'>&nbsp;</li>
    <li class='col-right'><span class='print-label'>OPTION &nbsp; 1 &nbsp;&nbsp; 2 &nbsp;&nbsp; 3 &nbsp;&nbsp;</span></li>
  </ul>
  <ul>
    <li class='col-left'>&nbsp;</li>
    <li class='col-right'><span class='print-label'>FEDERAL FUNDING &nbsp;&nbsp; YES / NO</span></li>
  </ul>
  <ul>
    <li class='col-left'><span class='print-label'>NOTES</span></li>
  </ul>
</div>
