
div.print-it {
  font-size: small;
  margin-left:  2em;
  margin-right: 2em;
  line-height: 2em;
  line-spacing: 3.5em;

  h2 {
    text-align: center;
  }

  ul {

    list-style: none;
    margin: 0;
    padding: 0;

    li.col-left{
      float: left;
      width: 48%;
      block: inline;
      text-decoration: none;
    }

    li.col-right {
      float: left;
      width: 48%;
      block: inline;
      text-decoration: none;
    }
  }

  hr {
    border-color: black;
    line-spacing: 3px;
    width: 100%;
  }

  .print-label{
    margin-right: 0.5em;
    font-weight: bold;
    font-size: small;
    color: black;
  }

  .double-under
  {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 4px double black;
    width: 80%;
  }
  .empty-underline {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 6em;
  }

  .empty-underline-short {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 2em;
  }
}
.print-notes {
  width: 90%;
  float: left;
  line-height: 40px;
}
.noprint {
  display: none;
}

header.print_signatory_page {
  display: none;
}