default: &default
  concurrency: 5
  # TODO: should this be stdout?
  logfile: ./log/sidekiq.log
  max_retries: 10
  latency_threshold: 30
  size_threshold: 100
  queues:
    - default
    - mailers
    - committee_evaluations
    - lionpath_exports
    - pdf_download

development:
  <<: *default
test:
  <<: *default
production:
  <<: *default
