<div id="contact-information" class="col-xs-12 contact-info">
  <h4>My Contact Information
    <span class="small"><%= link_to "[update <span class='sr-only'>my contact information</span>]".html_safe, edit_author_author_path(@author) %></span>
  </h4>
  <div class="row">
    <%= render '/author/shared/author_address' %>
    <%= render '/author/shared/author_alternate_email' %>
  </div>
  <div class="row">
    <%= render partial: '/author/shared/confidential_information' if @author.confidential? %>
  </div>
</div>
