<div class='confidential-alert'>
  <span class="fa fa-warning fa-indent" aria-hidden=true></span>
  <span class="h5"><strong>Confidential Hold Information</strong></span>
</div>
<p class="confidential">
  Our records indicate there is a confidential hold on your Penn State record.  If this is not correct, please contact the <a href='https://www.registrar.psu.edu/' >University Registrar</a>.  If you have questions about your submission, please use the <span aria-hidden='true'></span><a href="<%= email_contact_form_new_path %>"> Contact Form </a></span>to submit your inquiry.
</p>
