<span class='fa fa-exclamation-circle' aria-hidden="true"></span>
<span class="sr-only">Step <%= step_number %></span>
<%= text %>
<% if @submission_view.display_notes?(step_number) %>
  <br> Please see the <%= link_to "#{note_type} notes from the administrator", review_path %>
<% end %>
