<span class='fa fa-warning' aria-hidden="true"></span>
<span class="sr-only">Step <%= step_number %></span>
<% if @submission_view.status_behavior.waiting_for_committee_review? %>
under review by committee
<% elsif @submission_view.status_behavior.waiting_for_advisor_review? %>
under review by advisor
<% elsif @submission_view.status_behavior.waiting_for_head_of_program_review? %>
under review by head of program
<% end %>
