<body>
  <div id="college-dropdown-container" class="col-12">
    <label for="college-select">Select Faculty College:</label>
    <select id="college-select">
      <option value="">All Colleges</option>
      <% @colleges.each do |college| %>
        <option value="<%= college %>"><%= college %></option>
      <% end %>
    </select>
  </div>
  <div class="col-6">
    <div id="department-header" class="p-5 text-center">
      <h2>Faculty Department:</h2>
    </div>
  </div>
  <div class="col-6">
    <div id="program-header" class="p-5 text-center">
      <h2>Student Program:</h2>
    </div>
  </div>
  <div id="network-graph" data='<%= raw @committee_member_data.to_json %>'></div>
</body>
