<div id="content-container" class="container">
  <div class="row">
    <h2>Committee Reviews</h2>
  </div>
  <br>
  <div class="row">
    <table id="committee_member_table" class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Committee Role</th>
        <th>Review Status</th>
        <th>Notes</th>
      </tr>
      </thead>
      <tbody>
      <% @submission.committee_members.each do |member| %>
        <tr>
          <td><%= member.name %></td>
          <td><%= member.committee_role.name %></td>
          <td><%= member.status ? member.status.capitalize : nil %></td>
          <td><%= member.notes %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
