<div id="content-container" class="container">
  <div class="row">
    <h2>My Final Review</h2>
  </div>
  <div class="row">
    <strong>This submission's access level is <a href="#" data-toggle="tooltip" data-placement="top" title="<%= @view.tooltip_text %>"><%= @committee_member.submission.current_access_level.label %></a></strong>
  </div>
  <br>
  <div class="row">
    <%= render 'review_form' %>
  </div>
  <%= render 'return_link' %>
</div>
