<div id="content-container" class="container">
  <div class="row">
    <h1>Final Committee Approval for <%= @author.full_name %></h1>
  </div>
  </br>
  <div class="row">
    <div class="col-sm-12">
      <p><span class="text-info"></span>Please submit a final review of <%= @author.full_name %>'s <%= @submission.degree.degree_type.name.downcase %>. Review the submission details, and the status of other committee members. The section "My Final Review" requires your input.   At this step review the files associated with the submission being mindful of the access level, and submit your approval.</p>
      <p>If you are experiencing problems, you can use the "Contact Us" link at the top of the page.</p>
    </div>
  </div>
</div>
