</div>
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1>Committee Member Reviews</h1>
    </div>
    <br />
    <table id="committee_member_table" class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
      </thead>
      <tbody>
      <% @submission.committee_members.each do |member| %>
        <tr>
          <td><%= member.name %></td>
          <td><%= member.status %></td>
          <td><%= member.notes %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <strong>
      <%= link_to 'Return to Review', approver_path %>
    </strong>
  </div>
</div>


