<div class="col-sm-12 approver-index">
  <div class="row">
    <div class="col-sm-12">
      <h1>My Reviews</h1>
      <p>The following table contains a list of your reviews.  To begin reviewing a submission, click the title of the submission below.  If you are serving on a committee as multiple roles, you will only need to submit your review once for that submission. To see your completed reviews, select "Finished Reviews" from the dropdown filter below.</p>
      <p>If you are not sure what to do, click the following link for a <a href='/docs'>walkthrough</a>.</p>
      <% if current_partner.graduate? %>
        <p><%= I18n.t("graduate.approval_help.message").html_safe %></p>
      <% end %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="select-reviews">
      <p><strong>Filter by:</strong></p>
      <div id="approver-select-reviews">
      </div>
    </div>
  </div>
  <br>

  <div class="col-sm-12">
    <table id="approver-committees-index" class="approver-committees-index table table-striped datatable" data-ajax-url="<%= approver_root_path %>">
      <thead>
        <tr>
          <th data-name="submission_title">Submission Title</th>
          <th data-name="author">Author</th>
          <th data-name="my_committee_role">My Committee Role</th>
          <th data-name="review_started_on">Review Started On</th>
          <th data-name="my_review">My Review</th>
          <th data-name="submission_status">Submission Status</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
