<div class="content-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>My Reviews</h1>
      <p>Review and approve submissions that you have been a part of.  If you are serving on a committee in multiple roles, you will only need to submit your review once.</p>
    </div>
  </div>
  </br>

  <div class="row">
    <div id="approver-select-reviews" class="select-reviews">
    </div>
    <p><strong>Filter by:</strong></p>
  </div>
  <div>
    <table id="approver-committees-index" class="approver-committees-index table table-striped datatable" data-ajax-url="<%= approver_root_path %>">
      <thead>
        <tr>
          <th data-name="submission_title">Submission Title</th>
          <th data-name="author">Author</th>
          <th data-name="my_committee_role">My Committee Role</th>
          <th data-name="review_started_on">Review Started On</th>
          <th data-name="my_review">My Review</th>
          <th data-name="submission_status">Submission Status</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
