<div class="content-container">
  <div class="row">
    <div class="col-xs-12">
      <h1>My Reviews</h1>
      <p>Review and approve submissions that you have been a part of.  If you are serving on a committee in multiple roles, you will only need to submit your review once per submission.</p>
    </div>
  </div>
  </br>

  <table id="approver-committees-index" class="table table-striped datatable" data-ajax-url="<%= approver_root_path %>">
    <thead>
      <tr>
        <th>Submission Title</th>
        <th>Author</th>
        <th>My Committee Role</th>
        <th>Review Started On</th>
        <th>My Review</th>
        <th>Submission Status</th>
      </tr>
    </thead>
  </table>
</div>
