<h1>Committee Members</h1>
<br>
<% if @submission.committee_members.empty? %>
    <div class="center-block">No Committee Members have been entered</div>
<% else %>
    <%= render partial: '/shared/committee_show_fields' %>
    <strong><%= link_to 'Return to dashboard', author_submissions_path %></strong>
<% end %>
