<div>
<%= button_to 'Export CSV', admin_committee_member_report_export_path(format: "csv"),
                          method: 'patch',
                          params: {submission_ids: ''},
                          #data: { confirm: "Exporting..." },
                          class: 'btn btn-success csv' %>
</div>
