<div class="row">
  <div class="col-xs-12">
    <h1>Confidential Hold Report</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div id="bulk-actions">
      <h5>Bulk Actions
        <span class="small"><span class="number-of-selected-rows"></span> authors selected ( <span class="number-of-visible-selected-rows"></span> visible )</span>
      </h5>
      <div class="actions">
        <div class="row">
          <%= button_to 'Export CSV', admin_confidential_hold_report_export_path(format: "csv"),
                        method: 'patch',
                        params: {author_ids: ''},
                        #data: { confirm: "Exporting..." },
                        class: 'btn btn-success csv' %>

        </div>
      </div>
    </div>

    <div id="row-selection-buttons">
      <button class="select-visible-button btn btn-sm btn-default">Select Visible</button>
      <button class="deselect-visible-button btn btn-sm btn-default">Deselect Visible</button>
    </div>
  </div>
</div>

<table id="custom-report-index" class="table table-striped custom-report-index datatable bulk-actions" data-ajax-url="<%= admin_confidential_hold_report_index_path %>">
  <thead>
  <tr>
    <th data-name="id" data-orderable="false"> </th><%# for the hidden id %>
    <th data-name="checkbox" data-orderable="false"> </th><%# for the checkbox %>
    <th data-name="last_name" data-orderable="true">Last Name</th>
    <th data-name="first_name" data-orderable="true">First Name</th>
    <th data-name="middle_name" data-orderable="false">Middle Name</th>
    <th data-name="access_id" data-orderable="true">Access ID</th>
    <th data-name="psu_email_address" data-orderable="false">PSU Email Address</th>
    <th data-name="alternate_email_address" data-orderable="true">Alternate Email Address</th>
    <th data-name="psu_idn" data-orderable="true">PSU ID</th>
    <th data-name="confidential_hold" data-orderable="false">Confidential Hold</th>
    <th data-name="confidential_hold_set_at" data-orderable="true">Confidential Hold Set At</th>
  </tr>
  </thead>


</table>