<div class="row">
  <div class="col-xs-12">
    <h1>Custom Report</h1>
  </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div id="bulk-actions">
            <h5>Bulk Actions
                <span class="small"><span class="number-of-selected-rows"></span> submissions selected ( <span class="number-of-visible-selected-rows"></span> visible )</span></h5>
        <div class="actions">
          <div class="row">
            <%= button_to 'Export CSV', admin_custom_report_export_path(format: "csv"),
                          method: 'patch',
                          params: {submission_ids: ''},
                          #data: { confirm: "Exporting..." },
                          class: 'btn btn-success csv' %>
          </div>
        </div>
      </div>

      <div id="row-selection-buttons">
        <button class="select-visible-button btn btn-sm btn-light">Select Visible</button>
        <button class="deselect-visible-button btn btn-sm btn-light">Deselect Visible</button>

      </div>
    </div>
    <%= select('submission',
               'semester_year',
               @submissions.order('year DESC').pluck(:year, :semester).uniq.map{|str| ["#{str[0].to_s} #{str[1]}"]},
               {},
               :class=> 'form-control input-sm semester ml-auto') %>
</div>


<table id="custom-report-index" class="table table-striped custom-report-index datatable bulk-actions" data-ajax-url="<%= admin_custom_report_index_path %>" data-default-semester="<%= Semester.current %>">
 <thead>
  <tr>
      <th data-name="id" data-orderable="false">&nbsp;</th><%# for the hidden id %>
      <th data-name="checkbox" data-orderable="false">&nbsp;</th><%# for the checkbox %>
      <th data-name="semester_year" data-orderable="true">Date</th>
      <th data-name="submission_title" data-orderable="true">Title</th>
      <th data-name="submission_author" data-orderable="true">Author</th>
      <th data-name="degree_type" data-orderable="true">Degree Type</th>
      <th data-name="program_name" data-orderable="true">Program Name</th>
      <th data-name="access_level" data-orderable="true">Access Level</th>
      <th data-name="submission_status" data-orderable="true">Status</th>
      <% if current_partner.graduate? %>
        <th data-name="invention_disclosure_number" data-orderable="false">Invention Disclosure Number</th>
      <% end %>
  </tr>
 </thead>


</table>
