<h1>About the Graduate School eTD database.</h1>
<p>The primary purpose of a thesis or dissertation is to train the student in the process of scholarly research and writing under the direction of members of the Graduate Faculty. After the student has graduated and the work is published, it serves as a contribution to human knowledge, is useful to other scholars, and perhaps even to a more general audience.</p>
<div class='h2'>Expand Creative Possibilities</div>
<p>Electronic thesis and dissertations (eTDs) expand the creative possibilities open to students and empower students to convey a richer message by permitting video, sound, and color images to be integrated into their work. Submitting and archiving eTDs helps students to understand electronic publishing issues and provides greater access to students' research. Through the Web, people from any place on the globe can link directly to eTD collections at Penn State and other universities.
<div class='h2'>Format Standards and Process</div>
<p>The Graduate School, the University Libraries, and the Graduate Faculty of Penn State have established format standards that theses and dissertations must meet before receiving final approval as a part of the fulfillment of graduation requirements. The Office of Theses and Dissertations staff is responsible for verifying that all eTDs have met these requirements (more information may be found in the <a href='<%= I18n.t("#{current_partner.id}.partner.thesis_guide") %>'>Thesis and Dissertation Guide</a>).</p>
<div class='h2'>Important Things</div>
<ul>
  <li>The text of the eTD should be proofread and free of grammatical errors and typos.</li>
  <li>It is extremely important that the author carefully review and proofread the thesis or dissertation before submitting the final document.</li>
  <li>After the official approval of the final eTD by the Office of Theses and Dissertations, changes will not be permitted.</li>
</ul>
<div class='h2'>LionPATH Integration</div>
<p>Dissertation candidates' program and committee information is imported daily to the eTD system from LionPATH.  If students need to make changes to their program or committee data, they should contact their program offices to do so.</p>
<p>Master's Thesis candidates' program information is imported daily to the eTD system from LionPATH.  If students need to make changes to their program data, they should contact their program offices to do so.</p>
