<h1>Welcome to the starting point for the Penn State electronic honors theses database.</h1>

<p>Electronic submission of the final Honors Thesis became a requirement beginning spring semester 2010. Honors theses submitted prior to spring semester 2010 will not be found on this database. Both the mandatory draft submission and the final thesis must be submitted electronically through this site.</p>

<p>All final theses are open to the public. If there is a reason (usually for patent or proprietary purposes) your thesis should not be released to the public, you must contact the Schreyer Honors College and request restricted access. Restricted access may be granted for a period up to two years. The thesis will be automatically released for public access at the end of the approved restricted period.</p>
<div class='h2'>Expand Creative Possibilities</div>

<p>Electronic honors thesis and (eHTs) expand the creative possibilities open to students and empower students to convey a richer message by permitting video, sound, and color images to be integrated into their work. Submitting and archiving eHTs helps students to understand electronic publishing issues and provides greater access to students' research. Through the Web, people from any place on the globe can link directly to eHTs collections at Penn State and other universities.</p>
<div class='h2'>Format Standards and Process</div>

<p>The Schreyer Honors College, the University Libraries, and the Schreyer Honors College Faculty have established format standards that theses must meet before receiving final approval. The Schreyer Honors College staff is responsible for verifying that all eHTs have met these requirements (more information may be found in the <a href='<%= I18n.t("#{current_partner.id}.partner.thesis_guide") %>'>Thesis Guide</a>).</p>
<div class='h2'>Important Things</div>
<ul>
  <li>The text of the eHTs should be proofread and free of grammatical errors and typos.</li>
  <li>It is extremely important that the author carefully review and proofread the thesis before submitting the final document.</li>
  <li>After the official approval of the final eHTs by the Schreyer Honors College staff, changes will not be permitted.</li>
</ul>