<h1>Welcome to the Millennium Scholars Program section of the Electronic Theses and Dissertations database.</h1>

<p>The thesis is the culmination of each Millennium Scholar’s research experience. Writing a research thesis gives each scholar the opportunity to demonstrate research abilities and proficiency regarding a STEM-related topic. </p>
<div class='h2'>Expand Creative Possibilities</div>
<p>By conducting research and writing the thesis under the supervision of faculty mentors, scholars strengthen faculty relationships, deepen their understanding of a topic, and contribute to expanding the frontiers of knowledge in their fields. The process also enables scholars to enhance their research and communication skills, which are critical to succeed in graduate studies and future careers.</p>
<div class='h2'>Format Standards and Process</div>
<p>The Millennium Scholars Program, the University Libraries, and the Millennium Scholars Program Faculty have established format standards that theses must meet before receiving final approval. The Millennium Scholars Program staff is responsible for verifying that all Millennium Scholars Program Theses (MSPT) have met these requirements (more information may be found in the <a href='<%= I18n.t("#{current_partner.id}.partner.thesis_guide") %>'>Thesis Guide</a>).</p>
<div class='h2'>Important Things</div>
<ul>
  <li>The text of the MSPT should be proofread and free of grammatical errors and typos.</li>
  <li>It is extremely important that the author carefully review and proofread the thesis before submitting the final document.</li>
  <li>After the official approval of the final MSPT by the Millennium Scholars Program staff, changes will not be permitted.</li>
</ul>