<h1>Welcome to the School of Science, Engineering, and Technology's Electronic Final Papers database.</h1>
<p>The primary purpose of the final paper is to train the student in the process of scholarly research and writing under the direction of members of The School of Science, Engineering, and Technology.</p>
<div class='h2'>Expand Creative Possibilities</div>
<p>The final papers expand the creative possibilities open to students and empower students to convey a richer message by permitting video, sound, and color images to be integrated into their work. Submitting and archiving final papers helps students to understand electronic publishing issues and provides greater access to students' research.</p>
<div class='h2'>Format Standards and Process</div>
<p>The School of Science, Engineering, and Technology and the University Libraries of Penn State have established format standards that final papers must meet before receiving final approval as a part of the fulfillment of graduation requirements. The School of Science, Engineering, and Technology staff is responsible for verifying that all final papers have met these requirements (more information may be found in the <a href='<%= I18n.t("#{current_partner.id}.partner.thesis_guide") %>'>Thesis Guide</a>)</p>
<div class='h2'>Important Things</div>
<ul>
  <li>The text of the final paper should be proofread and free of grammatical errors and typos.</li>
  <li>It is extremely important that the author carefully review and proofread the final paper before submitting the final document.</li>
  <li>After the official approval of the final paper by The School of Science, Engineering, and Technology, changes will not be permitted.</li>
</ul>