<h1>Welcome to the School of Science, Engineering, and Technology section of the Electronic Theses and Dissertations database.</h1>

<div class='h2'>Expand Creative Possibilities</div>
<div class='h2'>Format Standards and Process</div>
<p>The School of Science, Engineering, and Technology Theses (SSETT): </p><a href='<%= I18n.t("#{current_partner.id}.partner.thesis_guide") %>'>Thesis Guide</a>
<div class='h2'>Important Things</div>