  <h1 hidden>About Page</h1>
  <div class="col-xs-12 col-sm-12 col-lg-10">
      <%= render partial: "/about/#{current_partner.id}_site_notification" %>
    <div class="home-text">
      <%= render partial: "/about/#{current_partner.id}_about_text" %>
    </div>
  </div>
