<div class="col-xs-12 col-sm-12 col-lg-10">
    <%= render partial: "/about/#{current_partner.id}_site_notification" %>
  <div class="home-text">
    <%= render partial: "/about/#{current_partner.id}_about_text" %>
    <div class='h2'>Digital Signatures:</div>
    <p>The Digital Signatures feature gives committee members the ability to digitally approve submissions through this site.  Documentation for this feature can be found here: <%= link_to 'Digital Signatures Documentation', docs_page_path %>.</p>
  </div>
</div>
