// Base Color Palette

$dark-blue: #036;
$medium-blue: #1C5798;
$medium-blue-bright: #2674CA;
$medium-blue-light: #75AAE6;
$gray-lightest: #fafafa;
$gray-light: #767676;
$green-dark: #2c882c;
$classic-white: #FFF;
$gray-med-dark: #666;
$blue-light: #aacaef;
$gray-dark: #333;


// Bootstrap Variable Overrides

$brand-primary: $medium-blue;
$grid-float-breakpoint: 992px;