<div class="row">
  <div class="col-xs-12 col-sm-9">
    <h1>Technical Tips</h1>
  </div>
</div>
<h2>Supported Browsers:</h2>
    <ul>
        <li>Internet Explorer 11</li>
        <li>Edge</li>
        <li>Firefox</li>
        <li>Chrome</li>
        <li>Safari 5+</li>
    </ul>


<h2>File types accepted:</h2>
    <ul>
        <li>The main paper <strong>must</strong> be a <strong>pdf</strong> file.</li>
        <li>Additional supporting files can be any type, but commonly used file types are preferred, for example: </li>
        <ul>
          <li>Video (.mov, .mpg, .avi)</li>
          <li>Audio (.midi, .mpg, .wav)</li>
          <li>Images (.pdf, .jpg, .tif)</li>
        </ul>

        <li>Do not upload any ZIP (.zip) files.</li>
        <li>Do not lock files so that they are unable to be read without a password.</li>
    </ul>

<h2>Suggested Filename Formats:</h2>
    <ul>
      <li>Filenames are not case sensitive.</li>
      <li>Filenames should not include special characters or symbols, (e.g. &#*~/>}+).</li>
      <li>Keep filenames short and descriptive of the content.</li>
      <li>Keep in mind that these <strong>filenames will be displayed on the public page</strong> after release.</li>
          EXAMPLES:
          <ul>
              <li>Abformat_review.pdf (first & last initial format and file extension)</li>
              <li>Final_thesis.pdf</li>
              <li>Abc_format_review.pdf</li>
              <li>Firstname_lastname.pdf</li>
              <li>Piano_concert.mp3</li>
              <li>Cell_division.mov</li>
          </ul>
    </ul>

<h2>File size limitations:</h2>
    <ul>
        <li>There is no enforced file size limit, but large files have long download and upload times.</li>
        <li>If the individual file size exceeds 50 Mb, consider dividing the content into separate files.</li>
    </ul>
<h2>Committee Members:</h2>
    <ul>
        <li>For dissertation candidates, committees are imported entirely from LionPATH.  If changes are needed, make those changes in LionPATH.  Your committee will update in the eTD system after one day.</li>
        <li>For master’s thesis candidates, there must be at least one Thesis Advisor. If there is more than one, they must be added as a Co-Advisor.  The Program Head/Chair is imported from LionPATH.</li>
        <li>For honors thesis candidates, there must be at least one Thesis Supervisor and one Honors Advisor.</li>
        <li>For Millennium Scholars, there must be at least one thesis supervisor.</li>
    </ul>
<h2>Abstract:</h2>
    <ul>
        <li>Abstract should contain a summary of the paper's contents. HTML can be embedded in the text to provide additional formatting.</li>
    </ul>
<h2>Keywords:</h2>
    <ul>
        <li>Keywords supplied improve search results. The keywords provided would be major topics of the paper. Example "acid mine drainage, bioremediation, microbiology."</li>
    </ul>
<h2>Logout:</h2>
    <ul>
        <li>If using a public computer, make sure to log out of Web Access when completed.</li>
    </ul>
</ul>
