
<div class="flash_messages" role="alertdialog" aria-labelledby="alert-message">
  <% [:success, :notice, :error, :alert].each do |type| %>
    <%- alert_class = case type
                        when :success then "alert-success"
                        when :notice  then "alert-success"
                        when :alert   then "alert-danger"
                        when :error   then "alert-danger"
                        else "alert-#{type}"
                      end
    -%>
    <% if flash[type] %>
      <div id='alert-message' class="alert <%=alert_class %>"><%= flash[type] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="close message">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  <% end %>
</div>