  <div class ="form-group"> 
    After the conferral of the degree, abstracts for all doctoral dissertations and master's theses, whether Open Access, Restricted (Penn State) or Restricted, become accessible worldwide.
  </div>
