<div class="row">
  <div class="col-sm-9">
    <h1><%= @view.title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    <% @view.filters.each do |filter| %>
      <% next if filter[:title].nil? %>
      <%= render partial: 'filter', locals: { filter: filter } %>
    <% end %>
  </div>
</div>
