#= require dataTables.js
#= require dataTables.bootstrap.js

setup_datatables = () ->

    table = $('.datatable')

    return unless table.length

    common_options = {
        ajax: table.attr('data-ajax-url')
        processing: true
        lengthMenu: [[25, 50, 100, 200, 500, -1], [25, 50, 100, 200, 500, "All"]]
        pageLength: 25
        stateSave: true
        stateDuration: 60 * 60 * 24
        language:
            loadingRecords: '&nbsp;'
            processing: "<img src='<%= image_path('spinner.gif') %>' alt='Loading data...' /> Loading data..."
        fnDrawCallback: () ->
            pagination = $('.dataTables_paginate')
            buttons_we_care_to_see = pagination.find('.paginate_button').not('.disabled, .active')
            if buttons_we_care_to_see.length
                pagination.show()
            else
                pagination.hide()
    }

    $('#programs-index.datatable').dataTable(
            program_options = {
                rowCallback: (row, program_data) ->
                    program_status = program_data[1]
                    if program_status == "No"
                        $(row).addClass('inactive')
                initComplete: ->
                    startswith= $('#starts-with_check').on 'change', (event)->
                        $.fn.dataTable.ext.search.push (settings, data, dataIndex) ->

#only use checkbox for matching on beginning of line on programs page
                            return true if  ($.fn.dataTable.tables('visible')[0]['id'] != 'programs-index')

                            startswith = $('#starts-with_check').prop('checked') || false
                            term = $('#programs-index_filter input').val().toLowerCase() || ''
                            i = 0
                            while i < data.length
                                position = (data[i].toString().toLowerCase()).indexOf(term)
                                return true if (startswith && position == 0 || !startswith && position >=0)
                                return false
                                i++

                        false

            }
            $.extend(program_options, common_options)
    )

    $('#degrees-index.datatable').dataTable(
            degree_options = {
                rowCallback: (row, degree_data) ->
                    degree_status = degree_data[1]
                    if degree_status == "No"
                        $(row).addClass('inactive')
            }
            $.extend(degree_options, common_options)
    )

    $('#authors-index.datatable').dataTable(
            common_options
    )

    column_options = ->
        table.find('th').map ->
            column = $(this)
            { "name": column.data('name'), "orderable": column.data('orderable'), "visible": column.data('visible') }

    $('.admin-submissions-index.datatable').dataTable(
            admin_submission_options = {
                columns: column_options()
                rowCallback: (row, submission_data) ->
                    id = submission_data[0]
                    $(row).attr('data-submission-id', id)
                initComplete: ->
                    column = @api().column("graduation_semester:name")
                    current_semester = $(this).data('current-semester')
                    select = $('<select class="form-control input-sm semester"><option value="">All Semesters</option></select>').on('change', ->
                        val = $.fn.dataTable.util.escapeRegex($(this).val() || '')
                        column.search( (if val then '^' + val + '$' else '') , true, false).draw()
                        return
                    )

                    #it is possible that current_semester is not contained in the list
                    #of submissions so default to 'All Semesters'; otherwise list-drop
                    #down is blank when page loads
                    selected_item = ''
                    column.data().unique().sort().each (d, j) ->
                        selected_item = d if current_semester == d
                        select.append '<option value="' + d + '">' + d + '</option>'

                    select.val(selected_item).change()

                    $filters = $("#row-selection-buttons") #$(@api().table().container()).find('.dataTables_filter')
                    $filters.append( $('<label class="pull-right"></label>').append(select) )

                    select.val(selected_item).prop('selected', true)
            }
            $.extend(admin_submission_options, common_options)
    )

    $('#starts-with_check').on 'click', (event)->
        $('div.dataTables_filter input').val('')

    $('div.dataTables_filter input').attr('placeholder', 'Search records...')

$(document).on('page:load ready', setup_datatables)
